<div class="checkbox">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui pointing menu" style="margin-bottom:5px;">
                <a class="item active" href="#智能">
                    智能排序
                </a>
                <a class="ui pointing dropdown link item" href="#距离优先">
                    <span class="text">距离优先</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">500M</div>
                        <div class="item">1KM</div>
                        <div class="item">3KM</div>
                        <div class="item">5KM</div>
                    </div>
                </a>
                <a class="item" href="#等级优先">
                    等级优先
                </a>
                <a class="item" href="#好评优先">
                    好评优先
                </a>
                 <a class="item" href="#好评优先">
                    猜你喜欢
                </a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="搜索...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>