<div class="checkbox">
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui pointing menu" style="margin-bottom:5px;">
                <a class="item active" href="#智能">
                    智能排序
                </a>
                <a class="ui pointing dropdown link item" href="#距离优先" id="ui_pointing_dropdown_link_item">
                    <span class="text" id="map_distance">距离优先</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <option class="item" value='500' id='500'>500M</option>
                        <option class="item" value='1000' id='1000'>1KM</option>
                        <option class="item" value='3000' id='3000'>3KM</option>
                        <option class="item" value='5000' id='5000'>5KM</option>
                    </div>
                </a>
                <a class="item" href="#等级优先">
                    等级优先
                </a>
                <a class="item" href="#好评优先">
                    好评优先
                </a>
                 <a class="item" href="#好评优先">
                    猜你喜欢
                </a>
                <div class="right menu">
                    <div class="item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="搜索...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>