<%- include('header') %>
<%- include('components/checkbox') %>
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui segment">
            <div id="r-result"></div>
        </div>
    </div>
    <div class="four wide column" /*id="example1"*/ style="height:auto">
        <%- include('components/map') %>
    </div>
</div>
<%- include('footer') %>