<%- include('header') %>
<%- include('components/checkbox') %>
<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui items" id="ui_items"></div>
    </div>
    <div class="four wide column" >
        <%- include('components/map') %>
    </div>
</div>
<%- include('footer') %>