<%- include('header') %>
<div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column" style="padding:0px 50px 0px 50px">
        <form class="ui form segment" method="post" enctype="multipart/form-data">
            <div class="field required">
                <label>喜好</label>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <button class="ui button">Follow</button>
                <div class="ui right labeled left icon input">
                    <i class="tags icon"></i>
                    <input type="text" placeholder="添加你自己的标签">
                    <a class="ui tag label">
                        添加标签
                    </a>
                </div>
            </div>
            <br>
            <input type="submit" class="ui button fluid" value="提交">
        </form>
    </div>
</div>
<%- include('footer') %>