/* ---------- 全局样式 ---------- */

body {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
a{
    color:#fff;
}
a:hover{
    color:#fff;
}

/*.button {
  background-color: #4fc08d !important;
  color: #fff !important;
}*/

.avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
    float: right;
}

/* ---------- nav ---------- */

.nav {
    margin-bottom: 20px;
    color: #999;
    text-align: center;
}

.nav h1 {
    color: #4fc08d;
    display: inline-block;
    margin: 10px 0;
}

/* ---------- nav-setting ---------- */

.nav-setting {
    position: fixed;
    right: 30px;
    top: 35px;
    z-index: 999;
}

.nav-setting .ui.dropdown.button {
    padding: 10px 10px 0 10px;
    background-color: #fff !important;
}

.nav-setting .icon.bars {
    color: #000;
    font-size: 18px;
}

/* ---------- tag ---------- */
.ui.label {
    margin-top: 8px;
    cursor: pointer;
}

.ui.label:active {
    color: #fff;
    background: #4fc08d
}

.ui.right.labeled.left.icon.input {
    margin-top: 15px
}

/* ---------- map ---------- */


#map {
    width: auto;
    height: 400px;
    border: 1px solid #e3e3e3;
    padding: 5px;
    border-radius: .28571429rem;
    border:1px solid rgba(34, 36, 38, .22);
    background: #f8f8f9;
}

#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "微软雅黑";
}

#r-result {
    width: 100%;
    height:auto;
    font-size: 14px;
    line-height: 20px;
    font-family: "微软雅黑";
    border:none;
}